## Numpy Assigment

**Into how many combination of 3D shape, a numpy array of size 96 can be reshaped?**

**Ans:**

In [1]:
# Only for viewing csv data in better form.
import pandas as pd
df = pd.read_csv('heart-disease.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [2]:
import numpy as np

#### 1. Load CSV File:
Load the CSV file using csv reader into a numpy array. Also convert each value to numerical.

In [3]:
from csv import reader

with open('heart-disease.csv', 'r', encoding='utf-8') as file:
    raw_data = np.array(list(reader(file)))

In [4]:
raw_data = raw_data[1:]

In [5]:
final_data = raw_data.astype('float32')

In [6]:
final_data, final_data.shape

(array([[63.,  1.,  3., ...,  0.,  1.,  1.],
        [37.,  1.,  2., ...,  0.,  2.,  1.],
        [41.,  0.,  1., ...,  0.,  2.,  1.],
        ...,
        [68.,  1.,  0., ...,  2.,  3.,  0.],
        [57.,  1.,  0., ...,  1.,  3.,  0.],
        [57.,  0.,  1., ...,  1.,  2.,  0.]], dtype=float32),
 (303, 14))

#### 2. Extract Specific Columns:
Extract columns `age`, `chol`, and `thalach` from the CSV file and store them in a numpy array.

In [7]:
age_chol_thalach = final_data[:, [0, 4, 7]]

#### 3. Filtering Data:
Filter the rows where `sex` is `male` and `age` is greater than 50.

In [8]:
male_age_gt_50 = final_data[(final_data[:, 1] == 1) & (final_data[:, 0] > 50)]
male_age_gt_50

array([[63.,  1.,  3., ...,  0.,  1.,  1.],
       [56.,  1.,  1., ...,  0.,  2.,  1.],
       [57.,  1.,  0., ...,  0.,  1.,  1.],
       ...,
       [59.,  1.,  0., ...,  2.,  1.,  0.],
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.]], dtype=float32)

#### 4. Compute Statistics:
Compute the mean and standard deviation of the `trestbps` column.

In [9]:
mean = np.mean(final_data[:, 3])
std_deviation = np.std(final_data[:, 3])
mean, std_deviation

(131.62376, 17.509178)

#### 5. Sorting Data:
Sort the data based on the `thalach` column in descending order.

In [10]:
sorted_indices = np.argsort(final_data[:, 7])[::-1]
sorted_data_on_thalach = final_data[sorted_indices]
sorted_data_on_thalach

array([[29.,  1.,  1., ...,  0.,  2.,  1.],
       [54.,  1.,  1., ...,  1.,  3.,  0.],
       [42.,  1.,  2., ...,  0.,  3.,  1.],
       ...,
       [59.,  1.,  0., ...,  2.,  1.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [67.,  1.,  0., ...,  0.,  2.,  0.]], dtype=float32)

#### 6. Writing to CSV:
Write the filtered data from **Question 3** to a new CSV file named `"filtered_data.csv"`.

In [11]:
from csv import writer

with open("filtered_data.csv", "w", newline="") as file:
    csv_writer = writer(file)
    csv_writer.writerows(male_age_gt_50)

#### 7. Conditional Counting:
Count the number of male and female from `sex` column.

In [16]:
final_data[:, 1].sum(), len(final_data[:, 1]) - final_data[:, 1].sum()

(207.0, 96.0)

#### 8. Conditional Filtering:
Filter the rows where `thal` (thalassemia) is 2 or 3.

In [23]:
final_data[(final_data[:, 12] == 2) | (final_data[:, 12] == 3)]

array([[37.,  1.,  2., ...,  0.,  2.,  1.],
       [41.,  0.,  1., ...,  0.,  2.,  1.],
       [56.,  1.,  1., ...,  0.,  2.,  1.],
       ...,
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [57.,  0.,  1., ...,  1.,  2.,  0.]], dtype=float32)

### Broadcasting:
Given two arrays A and B of shapes (3, 2) and (1, 2) respectively, perform element-wise addition using broadcasting.

In [27]:
a = np.random.randint(1, 100, size = (3, 2))
b = np.random.randint(1, 100, size = (1, 2))
print(a)
print()
print(b)

a + b

[[27 90]
 [ 1 46]
 [ 2 48]]

[[74 62]]

array([[101, 152],
       [ 75, 108],
       [ 76, 110]])

### Dot Product:
Compute the dot product of two matrices A (shape: 3x4) and B (shape: 4x2).

In [29]:
a = np.random.randint(1, 5, size = (3, 4))
b = np.random.randint(1, 5, size = (4, 2))
a, b, np.dot(a, b)

(array([[1, 3, 1, 1],
        [3, 2, 1, 3],
        [2, 3, 3, 4]]),
 array([[1, 1],
        [1, 3],
        [4, 3],
        [3, 4]]),
 array([[11, 17],
        [18, 24],
        [29, 36]]))

### Sorting:
Sort the elements of a 1D array arr in descending order.

In [32]:
arr = np.random.randint(1, 20, size = 8)
print(arr)

np.sort(arr)[::-1]

[19  1  4  2  5  3 14 11]

array([19, 14, 11,  5,  4,  3,  2,  1])

### Counting:
Count the number of occurrences of a specific value in a 2D array 'arr'.

In [36]:
arr = np.random.randint(1, 5, size = 20)
print(arr)

np.unique(arr, return_counts = True)

[3 4 2 4 4 2 3 4 2 2 3 2 4 3 1 1 4 1 3 1]

(array([1, 2, 3, 4]), array([4, 5, 5, 6]))

### Reshaping and Resizing:
Reshape a 1D array 'arr' of size 20 into a 2D array of shape (4, 5). Also resize it. Store them into variable and change one value in each case. Check original array and see the difference.

In [37]:
arr = np.random.randint(0, 9, 20)
print(arr, end='\n\n')

reshaped_arr = arr.reshape(4, 5)
print(reshaped_arr, end='\n\n')

resized_arr = np.resize(arr, (4, 5))
print(resized_arr, end='\n\n')

resized_arr[0, 0] = 100
print(arr, end='\n\n')

reshaped_arr[0, 0] = 96
print(arr)

[5 0 1 6 7 3 0 8 4 8 3 1 3 2 2 1 4 5 7 3]

[[5 0 1 6 7]
 [3 0 8 4 8]
 [3 1 3 2 2]
 [1 4 5 7 3]]

[[5 0 1 6 7]
 [3 0 8 4 8]
 [3 1 3 2 2]
 [1 4 5 7 3]]

[5 0 1 6 7 3 0 8 4 8 3 1 3 2 2 1 4 5 7 3]

[96  0  1  6  7  3  0  8  4  8  3  1  3  2  2  1  4  5  7  3]

### Flatten and Ravel:
Flatten a 2D array 'arr; into a 1D array. Also Ravel it. Also store them into variable and change one value in each case. Check original array and see the difference.

In [41]:
arr = np.random.randint(1, 20, size = (2, 3))
print(arr, "\n")

flattened_arr = arr.flatten()
print(flattened_arr, "\n")
flattened_arr[0] = 95
print(arr, "\n")

raveled_arr = arr.ravel()
print(raveled_arr, "\n")
raveled_arr[0] = 100
print(arr, "\n")

[[ 3  1  5]
 [ 6  2 10]]

[ 3  1  5  6  2 10]

[[ 3  1  5]
 [ 6  2 10]]

[ 3  1  5  6  2 10]

[[100   1   5]
 [  6   2  10]]

### View and Copy:
Create a view of a 2D array 'arr' and modify one of its elements. Check if the original array is modified.

In [42]:
arr = np.random.randint(1, 20, size = (3, 4))
view_arr = arr.view()
view_arr[0] = 100
print(arr)

[[100 100 100 100]
 [ 17   5  19   5]
 [ 10  15  10   7]]

### Indexing and Slicing:
Extract the first 3 rows and last 2 columns of a 2D array 'arr'.

In [43]:
arr = np.random.randint(1, 20, size = (5, 5))
print(arr, "\n")

print(arr[:3, -2:])

[[15  7 13 18 10]
 [18  2  8  4  4]
 [12 15 13 13 17]
 [10 16 10 19 18]
 [ 5 19  4 16 15]]

[[18 10]
 [ 4  4]
 [13 17]]

### Element-wise Operations:
Compute the square root of each element in a 2D array 'arr'.

In [46]:
arr = np.random.randint(1, 20, size = (3, 2))
print(arr)
np.sqrt(arr)

[[12 15]
 [12 18]
 [ 4 15]]

array([[3.46410162, 3.87298335],
       [3.46410162, 4.24264069],
       [2.        , 3.87298335]])

### Statistical Operations:
Compute the mean, median, and standard deviation of a 2D array 'arr'.

In [52]:
arr = np.random.randint(1, 5, size = (3, 2))
print(arr)
print(arr.mean(axis=1))
print(np.median(arr, axis=1))
print(arr.std(axis=1))

[[2 1]
 [2 1]
 [3 1]]
[1.5 1.5 2. ]
[1.5 1.5 2. ]
[0.5 0.5 1. ]

### Boolean Indexing:
Select elements from a 1D array 'arr' that are greater than a certain threshold.

In [53]:
arr = np.random.randint(1, 20, size = (1, 10))
print(arr)

arr[arr > 10]

[[ 7 17 11  6 12 18  9 19  7 19]]

array([17, 11, 12, 18, 19, 19])

### Concatenation:
Concatenate two arrays A and B horizontally.

In [55]:
a = np.random.randint(1, 20, size = 5)
b = np.random.randint(1, 20, size = 7)

print(a, "\n")
print(b, "\n")
np.hstack((a, b))

[ 8 16  7  3 12]

[12 15 11 14 12 18  3]

array([ 8, 16,  7,  3, 12, 12, 15, 11, 14, 12, 18,  3])

### Unique Elements:
Find the unique elements in a 1D array 'arr'.

In [57]:
arr = np.random.randint(1, 7, size = 10)
print(arr)
np.unique(arr)

[6 6 5 4 6 5 2 6 3 4]

array([2, 3, 4, 5, 6])

### Transpose:
Transpose a 2D array 'arr'.

In [58]:
arr = np.random.randint(1, 20, size = (3, 4))
arr.T

array([[ 8, 13, 15],
       [ 7, 16,  8],
       [ 8,  9,  8],
       [ 7, 16, 16]])

### Matrix Inversion:
Compute the inverse of a square matrix A.

In [61]:
arr = np.random.randint(1, 20, size = (3,3))
np.linalg.inv(arr)

array([[ 0.01058201,  0.05291005, -0.17460317],
       [-0.16931217,  0.15343915, -0.20634921],
       [ 0.1675485 , -0.1622575 ,  0.4021164 ]])